<!DOCTYPE HTML>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="R^2">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>R^2 advanced search</title>
    </head>
    
    <body>
        <header>
            <%= image_tag("logo.jpg", :alt => "logo") %>
        </header>
        
        <nav>
            <%= link_to "Home", home_path %>
            <%= link_to "Advanced Search", advancedsearch_path %>
            <%= link_to "Browsing Search", browsingsearch_path %>
        </nav>
        
        <main>
            <fieldset>
                <legend>Advanced Search</legend>
                
                <div class="heading">Room Preferences</div>

                <%= form_tag("/search", method: "get") do %>
                
                <%= label_tag(:location, "Location") %>
                <%= select_tag(:location, options_for_select([['North', 1], ['East', 2], ['South', 3], ['West', 4], ['Central', 5]])) %>

                <br>
                <%= label_tag(:roomtype, "Room Type") %>
                <%= select_tag(:roomtype, options_for_select([['Executive Meeting Room', 1], ['Event Hall', 2], ['Workspace', 3]])) %>

                <br>
                <%= label_tag(:facilities, "Facilities") %><br>
                <%= check_box_tag(:furnishing) %>
                <%= label_tag(:furnishing, "Basic Furnishing") %><br>
                <%= check_box_tag(:airconditioner) %>
                <%= label_tag(:airconditioner, "Air Conditioner") %><br>
                <%= check_box_tag(:projector) %>
                <%= label_tag(:projector, "Projector") %>

                <div class="heading">Reservation Period</div>

                <%= label_tag(:startdate, "Start Date") %>
                <%= date_field(:booking, :startdate) %>
                <%= label_tag(:enddate, "End Date") %>
                <%= date_field(:booking, :enddate) %>


                <%= label_tag(:starttime, "Start Time") %>
                <%= time_field(:booking, :starttime, value: "11:00") %>
                <%= label_tag(:endtime, "End Time") %>
                <%= time_field(:booking, :endtime, value: "12:00") %>

                <%= submit_tag("Search", class: "btn") %>
 
               <% end %>
            </fieldset>
        </main>
    </body>
    <div class="container">
        <%= debug(params) if Rails.env.development? %>
    </div>
</html>
