<!DOCTYPE HTML>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="R^2">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>R^2 home</title>
    </head>
    
    <body>
        <%= render './layouts/nav.html.erb' %>
        
        <h2>Calendar Outlook</h2>
        
        <main>
            <center>
              <% start_date = params.fetch(:start_date, Date.today).to_date %>
              <% date_range = (start_date.beginning_of_month.beginning_of_week..start_date.end_of_month.end_of_week).to_a %>
              
              <%= link_to "Previous", start_date: date_range.first - 1.day %>
              <%= link_to "Next", start_date: date_range.last + 1.day %>
              <br><br>
              
              <center><h2><%= start_date.strftime("%B") %> <%= start_date.year%></h2> </center>
              
                <table class="calendar" width= 90%>
                    <thead>
                        <tr>
                            <% date_range.slice(0, 7).each do |day| %>
                                <th id="calendar_th"><%= I18n.t("date.abbr_day_names")[day.wday] %></th>
                            <% end %> 
                        </tr>
                    </thead>
                    
                    <tbody>
                        <% date_range.each_slice(7) do |week| %>
                            <tr>
                                <% week.each do |day| %>
                                    <td id="calendar_td">
                                        <h4><%= day.strftime("%d") %></h4>
                                        <% bookings_by_day = daily_bookings(@current_bookings, day) %>
                                        <% if bookings_by_day.count > 0 %>
                                            <%= link_to "View Reservations", :action => 'show' %>
                                        <% end %>
                                    </td>
                                <% end %>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
                
            </center>
            <br> <br>
            <%= render './layouts/footer.html.erb' %>
        </main>
        <div class="container">
          <%= debug(params) if Rails.env.development? %>
        </div>
    </body>
</html>