<!DOCTYPE HTML>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="R^2">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>R^2 browsing search</title>
    </head>
    
    <body>
      <%= render './layouts/nav.html.erb' %>
      <main>
        <fieldset>
          <legend>Rooms in Bright</legend>
          <table>
            <tr>
              <th>Room ID</th>
              <th>Room Type</th>
              <th>Description</th>
              <th>Operate Start</th>
              <th>Operate End</th>
              <th>Technology</th>
              <th>arrangement</th>
              <th>Number of People</th>
            </tr>
          
            <%@rooms.each do |room| %>
             <%if room.building_name == 'HRBB'%>
              <tr>
                
                <td><%= room.room_id %></td>
                <td><%= room.roomtype %></td>
                <td><%= room.description %></td>
                
                <td><%= room.operate_start.strftime("%k:%M") %></td>
                <td><%= room.operate_end.strftime("%k:%M") %></td>
                <td><%= room.tech %></td>
                <td><%= room.arrangement%> </td>
                <td><%= room.numpeople%> </td>
               
              </tr>
              <% end %>
            <% end %>
          </table>
          <%= link_to 'Back', :back, :class => "btn" %>
        </fieldset>
      </main>
    </body>
</html>
