<!DOCTYPE HTML>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="R^2">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>R^2 browsing search</title>
    </head>
    
    <body>
      <%= render './layouts/nav.html.erb' %>
      <main>
        <fieldset>
          <legend>Rooms in Bright</legend>
          <img src="/assets/BrightFloorPlans_Floor1-1.jpg" width="850" height="750" alt="HRBB_Floor_1" usemap="#HRBB_Floor_One">
          <map name="HRBB_Floor_One">
            <% room = Room.where(["building_name ? and room_id = ?", "HRBB", 124]) %>
            <area shape="rect" coords="328,178,447,274" href= "<%= url_for room_path(1) %>" alt="126">
            <area shape="rect" coords="222,33,542,175" href= "<%= url_for room_path(2) %>" alt="124">
            <area shape="rect" coords="454,178,551,274" href= "<%= url_for room_path(3) %>" alt="129">
            <area shape="rect" coords="287,427,448,565" href= "<%= url_for room_path(4) %>" alt="113">
            <area shape="rect" coords="691,427,821,519" href= "<%= url_for room_path(5) %>" alt="104">
          </map>
          <%= link_to 'Back', :back, :class => "btn" %>
        </fieldset>
      </main>
    </body>
</html>
