<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="R^2">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>R^2 home</title>
    </head>
    
    
    <!-- Need to change the data structure of booking to work. requires to accomodate building. -->
    <body>
        <%= render './layouts/nav.html.erb' %>
        <%= form_for @booking, :url => {:action => "update", :id => @booking}, 
        html:{method:'put'} do |f| %>
          <label>Booker</label>
          <%= f.collection_select :booker_id, User.all, :id, :name %>
          
          <label>Building</label>
          <%= f.collection_select :building_name, Room.select('DISTINCT building_name'), :building_name, :building_name %>
          
          <label>Room id</label>
          <%= f.collection_select :room_id, Room.all, :id, :room_id %>
          
         <div style = "text-align:center;">
             <div id = "reason">
                 <label>Reason</label>
                 <%= f.text_field :reason %>
            </div> 
                 
                 <div id="private"> Private:  <%= f.check_box :privatereason %></div>
        </div>
          
          
          <label> time & day</label>
          <%= f.datetime_select :time_start %>
          <label>End time & day</label>
          <%= f.datetime_select :time_end %>
          
          <div class = "submit"><%= submit_tag "Edit" %><div>
        <% end %>
        
        <div class="container" style="background-color: red">
          <% flash.each do |key, value| %>
            <div class="alert alert-<%= key %>"><%= value %></div>
          <% end %>
          <%= yield %>
        </div>
        
        <%= link_to 'Back', :back, :class => "btn" %>
    </body>
        <!-- ---------------------------------------------------------------------- -->
    <script>
        function myFunction() {
          var checkBox = document.getElementById("myCheck");
          var text = document.getElementById("private_text");
          if (checkBox.checked == true){
            text.style.display = "block";
          } else {
             text.style.display = "none";
          }
        }
    </script>
</html>