<!DOCTYPE HTML>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="R^2">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>R^2 home</title>
    </head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    
    <body >
        <%= render './layouts/nav.html.erb' %>
        
  <!----------------------Make_booking BUTTON -------------------------------------------->
        <h2>Welcome back <%= current_user_name %>!</h2>
        
        <main>

            <center>
              <%= link_to "Make New Booking", new_booking_path, :class => "btn" %>
              <h1>My Reservations</h1>
              <% if @current_bookings.length != 0 %>
                  <table width= 90% style ="display: block;" height=200px>
                  <tr>
                    <% if @current_user[:usertype] == "Admin" %>
                    <th>Booker</th>
                    <% end %>
                    <th>Building</th>
                    <th>Room Number</th>
                    <th>Room Type</th>
                    <th>Reason</th>
                    <th>Operate Start</th>
                    <th>Operate End</th>
                  </tr>
                  <% @current_bookings.each do |booking| %>
                     <tr>
                      <% if @current_user[:usertype] == "Admin" %>
                          <td><%= User.find(booking.booker_id).name %></td>
                      <% end %>  
                      <td><%= Room.find(booking.room_id).building_name %></td>
                      <td><%= Room.find(booking.room_id).room_id %></td>
                      <td><%= Room.find(booking.room_id).roomtype %></td>
                      <td><%= booking.reason %></td>
                      <td><%= booking.time_start.strftime("%b %d %Y, %-l.%M%P") %></td>
                      <td><%= booking.time_end.strftime("%b %d %Y, %-l.%M%P") %></td>
                      <td><%= link_to "Edit", edit_booking_path(booking) %></td>
                      <td><%= link_to "Delete", booking , :method => :delete, data: { confirm: 'Are you sure you want to cancel your booking?' } %></td>
                     </tr>
                  <% end %>
                </table>
                
              <% else %>
                <p>No reservations.</p>
              <% end %>
            
            
             
            
            </center>


            
          <!----------------------HISTORY BUTTON -------------------------------------------->
          <section >
            <center>
              <button class ="btn" onclick ="myFunction()">Show History</button>
              
              
                 <th><% @current_date.to_s %></th>
            
                 <% if @history_bookings != nil %>
                    <table id="history" width= 90% style ="display: none;">
                      <h1 id= "history1" style ="display: none;">My History</h1>
                      <tr>
                        <% if @current_user[:usertype] == "Admin" %>
                        <th>Booker</th>
                        <% end %> 
                        <th>Building</th>
                        <th>Room Number</th>
                        <th>Room Type</th>
                        <th>Reason</th>
                        <th>Operate Start</th>
                        <th>Operate End</th>
                      </tr>
                      <% @history_bookings.each do |booking| %>
                         <tr>
                          <% if @current_user[:usertype] == "Admin" %>
                            <td><%= User.find(booking.booker_id).name %></td>
                          <% end %>  
                          <td><%= Room.find(booking.room_id).building_name %></td>
                          <td><%= Room.find(booking.room_id).room_id %></td>
                          <td><%= Room.find(booking.room_id).roomtype %></td>
                          <td><%= booking.reason %></td>
                          <td><%= booking.time_start.strftime("%b %d %Y, %-l.%M%P") %></td>
                          <td><%= booking.time_end.strftime("%b %d %Y, %-l.%M%P") %></td>
                          
                         </tr>
                      <% end %>
                  </table>               
                 
                 <% else %>
                  <h1 style = "display: none;">No reservations.</h1>
                <% end %>
                <%if current_user_name == "Admin"%>
               <%=link_to'<button class = "btn" title = "Add Room" type = "button"> Add Room </button> '.html_safe, add_path%>
               <%=link_to'<button class = "btn" title = "Delete Room" type = "button"> Delete Room </button> '.html_safe, delete_path%>
               <% end %>
               
            </center>
      </section>
          
        </main>
        <div class="container">
          <%= debug(params) if Rails.env.development? %>
        </div>
        
         <br><br>
      <center>
         <div>
              <%= link_to "Calendar View", calendar_path, :class => "footer_btn" %>
         </div>
      </center>
    </body>
    
     
    
<!-----------------------------------------JAVASCRIPT -------------------------------------> 
<script>
function myFunction() {
  var x = document.getElementById("history");
  var y = document.getElementById("history1");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
  if (y.style.display === "none") {
    y.style.display = "block";
  } else {
    y.style.display = "none";
  }
};
</script>
   
</html>
