<!DOCTYPE HTML>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="R^2">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>R^2 home</title>
    </head>
    
    <body>
        <%= render './layouts/nav.html.erb' %>
        
        <h2>Welcome back <%= current_user_name %>!</h2>
        
        <main>
            <center>
              <% if @current_bookings != nil %>
                <table class="bod" width= 90%>
                  <h1>My Reservations</h1>
                  <tr>
                    <th>Building</th>
                    <th>Room Number</th>
                    <th>Room Type</th>
                    <th>Reason</th>
                    <th>Operate Start</th>
                    <th>Operate End</th>
                  </tr>
                  <% @current_bookings.each do |booking| %>
                     <tr>
                      <td><%= Room.find(booking.room_id).building_name %></td>
                      <td><%= Room.find(booking.room_id).room_id %></td>
                      <td><%= Room.find(booking.room_id).roomtype %></td>
                      <td><%= booking.reason %></td>
                      <td><%= booking.time_start.strftime("%b %d %Y, %-l.%M%P") %></td>
                      <td><%= booking.time_end.strftime("%b %d %Y, %-l.%M%P") %></td>
                      <td><%= link_to "Edit", edit_booking_path(booking) %></td>
                      <td><%= link_to "Delete", booking , :method => :delete, data: { confirm: 'Are you sure you want to cancel your booking?' } %></td>
                     </tr>
                  <% end %>
                </table>
              <% else %>
                <p>No reservations.</p>
              <% end %>
                
              <%= link_to "Make New Booking", new_booking_path, :class => "btn" %>
            </center>
        </main>
        <div class="container">
          <%= debug(params) if Rails.env.development? %>
        </div>
    </body>
</html>
