<!DOCTYPE HTML>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="R^2">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>R^2 home</title>
    </head>
    
    <body>
        <header>
            <%= image_tag("logo.jpg", :alt => "logo") %>
        </header>
        
        <nav>
            <%= link_to "Home", home_path %>
            <%= link_to "Advanced Search", advancedsearch_path %>
            <%= link_to "Browsing Search", browsingsearch_path %>
        </nav>
        
        <main>
            <center>
                <table class="bod" width= 90%>
                
                  <tr>
                    <td rowspan= 2 class="bor" height="90%">
                        MY RESERVATION
                        <ul class="users">
                          <% user = User.first %>
                            <li></li>
                              <%= link_to user.name, user %>
                            </li>
                          <% end %>
                        </ul>
                        </td>
                    <td class= "bor" height="45%">CAMPUS</td>
                  </tr>
                  <tr>
                    <td class= "bor" height="45%">MORE INFORMATION</td>
                  </tr>
                  
                </table>
            </center>
        </main>
    </body>
</html>
