<!DOCTYPE HTML>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="R^2">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>R^2 home</title>
    </head>
    
    <body>
        <%= render './layouts/header.html.erb' %>
        
        <main>
            <center>
                <% if current_bookings %>
                    <table class="bod" width= 90%>
                      <tr>
                        <th>Building</th>
                        <th>Room Type</th>
                        <th>Reason</th>
                        <th>Operate Start</th>
                        <th>Operate End</th>
                      </tr>
                      <% current_bookings.each do |booking| %>
                         <tr>
                          <td><%= Room.find(booking.room_id).building_name %></td>
                          <td><%= Room.find(booking.room_id).roomtype %></td>
                          <td><%= booking.reason %></td>
                          <td><%= booking.time_start.strftime("%b %d %Y, %-l.%M%P") %></td>
                          <td><%= booking.time_end.strftime("%b %d %Y, %-l.%M%P") %></td>
                         </tr>
                      <% end %>
              <% else %>
                  <p>No reservations.</p>
              <% end %>
                  
                </table>
            </center>
        </main>
    </body>
</html>
