<!DOCTYPE HTML>

<html lang="en">
    <head>
      
        <meta charset="UTF-8">
        <meta name="description" content="R^2">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>R^2 browsing search</title>
    </head>
    <%= render './layouts/nav.html.erb' %>
    <!--<%= params.inspect %>-->
    <body>
        <main>
            <fieldset>
            <legend>Search Results</legend>
            <table>
              <tr>
                <th>Building Name</th>
                <th>Room ID</th>
                <th>Room Type</th>
                <th>Description</th>
                <th>Technology</th>
                <th>Arrangment</th>
                <th>Number of People</th>
                
              </tr>
            
              <% @rooms_time.each do |room| %>
                <tr>
                  <td><%= room.building_name %></td>
                  <td><%= room.room_id %></td>
                  <td><%= room.roomtype %></td>
                  <td><%= room.description %></td>
                  <td><%= room.tech %></td>
                  <td><%= room.arrangement%> </td>
                  <td><%= room.numpeople%> </td>
                  <td><%= link_to "Book", new_booking_path(
                    :building_name => room.building_name,
                    :room_id => room.id) %></td>
                </tr>
              <% end %>
            </table>
            <%= link_to 'Back', :back, :class => "btn" %>
            </fieldset>
        </main>
    </body>
</html>
