<!DOCTYPE HTML>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="R^2">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>R^2 browsing search</title>
    </head>
    
    <body>
      <%= render './layouts/nav.html.erb' %>
      <main>
        <fieldset id="editroom">
          
<legend>Edit Room</legend>

       <%= form_for @room, :url => {:action => "update", :id => @room}, 
        html:{method:'put'} do |f| %>
        
          <label>Building Name</label>
          <%= f.text_field :building_name %>
        
         <label>Room Number</label>  
         <%= f.text_field :room_id %>
          
          <label>Room Type</label>
          <%= f.collection_select :roomtype,
          Room.select('DISTINCT roomtype'),
          :roomtype, :roomtype, :required => true  %>
          
          <br>
          
          <label>Technology</label>
          <%= f.collection_select :tech,
          Room.select('DISTINCT tech'),
          :tech, :tech, :required => true  %>
          
          <br>
          
          <label>Arrangement</label>
          <%= f.collection_select :arrangement,
          Room.select('DISTINCT arrangement'),
          :arrangement, :arrangement, :required => true  %>
          
          <br>
          
          <label>Number of People</label>
          <%= f.collection_select :numpeople,
          Room.select('DISTINCT numpeople'),
          :numpeople, :numpeople, :required => true  %>
          
          <br>
          
          <label>Operate Start</label>  
          <%= f.time_field :operate_start %>
          
          
          <label>Operate End</label>  
          <%= f.time_field :operate_end %>
          
          
          <%= f.submit "Edit" %>
        <% end %>
          
          <%= link_to 'Back', :back, :class => "btn" %>
        </fieldset>
      </main>
    </body>
    <div class="container">
      <%= debug(params) if Rails.env.development? %>
  </div>
</html>
