<!DOCTYPE HTML>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="R^2">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>R^2 browsing search</title>
    </head>
    
    <body>
     <body>
        <%= render './layouts/nav.html.erb' %>
        <%= form_for @room, :url => {:action => "update", :id => @room_id}, 
        html:{method:'put'} do |f| %>
          <label>Edit room</label>
          <%= f.collection_select :room_id, User.all, :id, :name %>
          
          <label>Building</label>
          <%= f.collection_select :building_name, Room.select('DISTINCT building_name'), :building_name, :building_name %>
          
          <label>Room id</label>
          <%= f.collection_select :room_id, Room.all, :id, :room_id %>
          
          
          <label>Start time </label>
          <%= f.datetime_select :operate_start %>
          <label>End time </label>
          <%= f.datetime_select :operate_end%>
          
          <%= submit_tag "Edit" %>
        <% end %>
    
    </body>
    <div class="container">
      <%= debug(params) if Rails.env.development? %>
  </div>
</html>
