-#  This file is app/views/movies/index.html.haml
%h1 Rooms

%table#rooms
  %thead
    %tr
      %th Room Name
      %th Type
      %th Description
      %th Occupied
      %th Booker
      %th Operating hours - start_hr
      %th Operating hours - end_hr
  %tbody
    - @rooms.each do |room|
      %tr
        %td= room.name
        %td= room.roomtype
        %td= room.description
        %td= room.occupied
        %td= room.booker
        %td= room.operate_start.strftime("%k:%M")
        %td= room.operate_end.strftime("%k:%M")
