<!DOCTYPE HTML>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="R^2">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>R^2 browsing search</title>
    </head>
    
    <body>
        <%= render './layouts/nav.html.erb' %>
        <main>
            
            <fieldset>
            <legend>Rooms in Reed McDonald</legend>
             <div id = "map">
                  <img src="/assets/RDMC-1.jpg" width="850" height="750" alt="RDMC_Floor_1" usemap="#RDMC_Floor_One">
                <map name="RDMC_Floor_One">
                  <% current_uri = request.path_info %>
                  <% room = Room.where(["building_name ? and room_id = ?", "RDMC", 113]) %>
                  <area shape="rect" coords="260,200,445,325" href= "<%= url_for room_path(6, :current_page => current_uri) %>" alt="111A">
                  <area shape="rect" coords="449,169,532,384" href= "<%= url_for room_path(7, :current_page => current_uri) %>" alt="111B">
                  <area shape="rect" coords="329,427,467,563" href= "<%= url_for room_path(8, :current_page => current_uri) %>" alt="111H">
                  <area shape="rect" coords="77,455,296,564" href= "<%= url_for room_path(9, :current_page => current_uri) %>" alt="111J">
                </map>
                
              </div>
              <div id = "table">
                <table>
                  <tr>
                    
                    <th>Room ID</th>
                    <th>Room Type</th>
                   
                    <th>Operate Start</th>
                    <th>Operate End</th>
                    <th>Technology</th>
                    <th>Arrangement</th>
                    <th>Number of People</th>
                  </tr>
                
                  <% @rooms.each do |room| %>
                  <%if room.building_name == 'RDMC'%>
                    <tr>
                      
                      <td><%= room.room_id %></td>
                      <td><%= room.roomtype %></td>
                     
                      <td><%= room.operate_start.strftime("%k:%M") %></td>
                      <td><%= room.operate_end.strftime("%k:%M") %></td>
                      <td><%= room.tech %></td>
                      
                      <td><%= room.arrangement%> </td>
                      <td><%= room.numpeople%> </td>
                    </tr>
                  <% end %>
                  <% end %>
                </table>
                </div>
                <button class ="btn" onclick="mapFunction()">Toggle Map View</button>
                <button class ="btn" onclick="tableFunction()">Toggle Table View</button>
                <%= link_to 'Back', browsingsearch_path, :class => "btn" %>
            </fieldset>
           
        </main>
    </body>
</html>


<script>
function mapFunction() {
  var x = document.getElementById("map");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}

function tableFunction() {
  var x = document.getElementById("table");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}
</script>