<!DOCTYPE HTML>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="R^2">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>R^2 browsing search</title>
    </head>
    
    <body>
        <header>
            <%= image_tag("logo.jpg", :alt => "logo") %>
        </header>

        <nav>

            <%= link_to "Home", home_path %>
            <%= link_to "Advanced Search", advancedsearch_path %>
            <%= link_to "Browsing Search", browsingsearch_path %>
        </nav>

        
        <main>
            
            <fieldset>
            <legend>Browsing Search</legend>

            <%= link_to "Show all rooms", "/rooms" %>
            
            <center><button class="btn" type="search">HRBB</button></center>
            <center>Computer Science/Engineering Buildings</center> 
            <center><button class="btn" type="search">RDMC</button></center>
            <button class="btn"><%= link_to "All Rooms", rooms_path %></button>
            </fieldset>
           
        </main>
    </body>
</html>
